body{
    background: none;
}
.sidebar-mini .navbar.navbar-static-top {
    display: block;
    padding: 0;
}
.sidebar-mini .navbar.navbar-static-top .sidebar-toggle {
    font-size: 14px;
}
.userDP{
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #000000;
    margin-bottom:10px;
    overflow: hidden;
}
.userDP:hover {
    cursor: pointer;
    opacity: 0.8;
}
.userDP .avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.userDP .fa{
    font-size:220px;
    color:#333333;
}
.userName{
    margin-bottom:10px;
}
.userName .fa{
    margin-left: 15px;
    height:18px;
    width:18px;
    border-radius: 50%;
    border:1px solid #000000;
    padding-top:1px;
    cursor: pointer;
}
.applicant-list .asent{
    color:#367fa9;
    margin-right:15px;
}
.applicant-list .aopen{
    color:green;
    margin-right:15px;
}
/* .applicant-list .acomp{
    color:blue;
} */

/* START - Share icons css */
.share-onSocial {
    margin-top: 15px;
}
.share-onSocial .share-social-icon {
    vertical-align: top;
    display: inline-block;
    margin-right: 15px;
    text-align: center;
}
/* END - Share icons css */

/* START - Footer Navbar for mobile devices */
.navbar-footer {
    display: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #3c8dbc;
    overflow: auto;
}
.navbar-footer a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 33.33%; /* Four links of equal widths */
    text-align: center;
}
.navbar-footer a:hover {
    background-color: #367fa9;
}
.navbar-footer a.active {
    background-color: #367fa9;
}
@media screen and (max-width: 767px) {
    .sidebar-mini .navbar.navbar-static-top {
        width: 42px;
        margin-top: -50px;
    }
    .navbar-footer {
        display: block !important;
    }
}
@media screen and (max-width: 500px) {
    .navbar-footer a {
        text-align: center;
        padding: 7px;
    }
    .navbar-footer a i {
        width: 100%;
        display: block;
        font-size: 22px;
    }
    .navbar-footer span {
        display: none;
    }
}
/* END - Footer Navbar for mobile devices */