.bg_image{
  background-image: url(./images/background-image.jpeg) !important;
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

}

.title {
  margin: 20px auto 0;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.links .link {
  margin-top: 20px;
}

.component {
  height: 100%;
  width: 100%;
  display: flex;
  /* background-color: #f0f0f0; */
}

.first-component--inside-scroller {
  position: absolute;
  right: 20px;
  top: 100px;
}

h2 {
  margin: auto;
  text-align: center;
}

.pagination-additional-class {
  margin: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

.pagination-additional-class > li:not(:last-of-type) > a,
.pagination-additional-class > li:not(:last-of-type) > span {
  margin-right: 50px;
}

.demo-page-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.demo-page-contain__hint {
  margin-bottom: 20px;
}
textarea:focus,
input:focus {
  outline: none;
}
.appl-form {
  margin:auto;
  
}
.appl-form label {
  display: block;
  font-size: 24px;
  font-weight: 500;
  margin-bottom:25px;
  color: white;
}
.appl-form label span{
  font-size: 20px;
  font-weight: 600;
  padding-right: 5px;
}
.appl-form label b{
  font-size: 17px;
  font-weight: 400;
}
.appl-form input, .appl-form textarea {
  font-size: 30px;
  background: none;
  border: none;
  border-bottom: 1px solid #cccccc6b;
  margin: 0;
  padding: 0 0 8px;
  transition: box-shadow 0.3s ease 0s;
  width: 550px;
  color: white;
  
}
::placeholder{
  color: #cccccc6b;
}
/* .appl-form input:focus, .appl-form textarea:focus {
  border-color: transparent !important;
} */
 .pagination-additional-class.pagination li.progress-report {
   padding: 5px; 
   margin-right: 10px;
  margin-bottom: 0;
  background-color: rgba(113, 89, 188, 0.8);
  border-radius: 5px;
}  
.pagination-additional-class.pagination .progress {
  margin-bottom: 0;
  background-color:rgba(78, 62, 129, 0.8);
}
.progress{
  height: 5px;
}

.cCkTRd {
  pointer-events: none;
  position: absolute;
  background-color: rgba(153, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 4px 8px;
}
.jRGmWl {
  max-width: 100%;
  font-weight: unset;
  font-size: 14px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  margin: 0px;
}
@media screen and (max-width: 768px) {
  .appl-form label {
    font-size: 20px;
    margin-bottom: 25px;
    }
}
@media screen and (max-width: 768px){
  .appl-form input, .appl-form textarea {
    font-size: 23px;
    width: 266px;
  }
}
