*{
    font-size:13px;
}
#root{
    height:100%;
}
.container,.row{
    height:100%;
}
.admin-login{
    top:50%;
    position: relative;
    padding: 15px;
    overflow: hidden;
    border: 1px solid #cccccc;
    transform: translateY(-50%);
    background: #ffffff;
    border-radius: 3px;
}
body{
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
    height:100vh;
    animation:Gradient 15s ease infinite;}
  
    @-webkit-keyframes Gradient {0% {background-position: 0% 50%}50% {background-position: 100% 50%}100% {background-position: 0% 50%}}
    @-moz-keyframes Gradient {0% {background-position: 0% 50%}50% {background-position: 100% 50%}100% {background-position: 0% 50%}}
    @keyframes Gradient {0% {background-position: 0% 50%}50% {background-position: 100% 50%}100% {background-position: 0% 50%}
}
.form-status{
    margin-top:10px;
}