.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.registration{
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
  height:100vh;
  animation:Gradient 15s ease infinite;}

  @-webkit-keyframes Gradient {0% {background-position: 0% 50%}50% {background-position: 100% 50%}100% {background-position: 0% 50%}}
  @-moz-keyframes Gradient {0% {background-position: 0% 50%}50% {background-position: 100% 50%}100% {background-position: 0% 50%}}
  @keyframes Gradient {0% {background-position: 0% 50%}50% {background-position: 100% 50%}100% {background-position: 0% 50%}}

.reg-form{
  padding: 4rem 2rem;
  /* box-shadow: 0 0 14px 2px #eee; */
  background-color: #ffffff;
  border-radius: 2px;
}

.bg-gradient{background: #04befe !important;}
.registration {
  display: flex;
  align-items: center;
  justify-content: center;
}


.form-group{
  float: left;
  width: 100%;
}
.control-label{padding-top: 5px;font-weight: 600;}

.form-control,.input-group .input-group-addon{border-color:#eee!important;}
.form-control:focus{box-shadow: 0 0 10px 5px #eee!important;}

.tx-white{color: #ffffff!important;}
.tx-bold{font-weight: bold;}
.tx-semibold{font-weight: 600;}

.mx-15{
  margin-left:15px;
  margin-right:15px;
}
.mt-15{margin-top:15px;}
.mb-2{margin-bottom:2rem;}
.mb-3{margin-bottom:3rem;}
.d-block{display: block;}
.float-left{float: left;}
.w-100p{width: 100%;}

.pr-15{padding-right: 15px;}

.inner-form-group .form-group{
  margin-bottom: 0;
}